name: Static analysis

on: [pull_request]

jobs:
  pre-commit-checks:
    name: Pre-commit checks on generated project
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit cookiecutter


      - name: Generate collection
        # Generates a collection non-interactively with the default values 
        run: |
          cookiecutter --no-input --overwrite-if-exists .


      - name: Run pre-commit on generated collection
        # Runs pre-commit on the generated collection to ensure the code styling is compliant
        # Initializes test git project to ensure pre-commit runs correctly
        run: |
          cd prefect-collection
          git config user.email "test@example.com"
          git config user.name "Test"
          git init
          git commit -am "Test commit"
          pre-commit run --show-diff-on-failure --color=always --all-files
